@charset "utf-8";
/* CSS Document */

*{ border-style: none;
	border-color: inherit;
	border-width: medium;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration:none;
}

.clear{ line-height:0px; font-size:0px; clear:both; }
.noboder{ border:none !important;}


#nav, .nav, #nav .nav li { margin:0px; padding:0px; }
#nav li {float:left; display:inline; cursor:pointer; list-style:none; padding:0px 10px 0px 10px; border-right:1px solid #9fad1d; position:relative; font:normal 11px/36px Arial, Helvetica, sans-serif; color:#000000;}
#nav li ul.first {left:-1px; top:100%; color:#FFF;}

li, li a { text-decoration:none; color:#FFF;}
#nav .nav li { width:100%; text-indent:10px; line-height:20px; margin-right:10px; border-top:1px #262825 solid; 
border-left:none; border-right:none; background:#444543;}
#nav li a {display:block; width:inherit; height:inherit; }
ul.nav { display:none; }
#nav li:hover > a, #nav li:hover { color:#fff;  background:#262825;}
li:hover > .nav { display:block; position:absolute; width:200px; top:-2px; left:90%; z-index:1000; border:1px #000 solid; } 
li:hover { position:relative; z-index:2000; } 






















